pandas==2.1.3
numpy==1.26.2
torch==2.1.1
transformers==4.35.2
chromadb==0.4.17
streamlit==1.28.2
tqdm==4.66.1
Pillow==10.1.0
# custom version of stitchr for Streamlit Cloud file path
# stitchr==1.1.2
-e git+https://github.com/naity/stitchr.git@change_datadir#egg=stitchr
IMGTgeneDL==0.5.2
py3Dmol==2.0.0.post2
stmol==0.0.9
requests==2.31.0
ipython-genutils==0.2.0
pysqlite3-binary==0.5.2.post2