pandas==2.2.2
numpy==1.26.4
torch==2.3.0+cpu
transformers==4.41.0
streamlit==1.34.0
tqdm==4.66.4
pillow==10.3.0
# custom version of stitchr for Streamlit Cloud file path
# stitchr==1.1.2
-e git+https://github.com/naity/stitchr.git@change_datadir#egg=stitchr
IMGTgeneDL==0.6.0
py3Dmol==2.0.0.post2
stmol==0.0.9
requests==2.31.0
ipython-genutils==0.2.0
pinecone-client==4.1.0